.bridge {
    display: flex;
    
    margin: 4px 10px 4px 10px;
}

.bridge-name {
    flex: 100;
}

.bridge-type {
    flex: 60;
}

.bridge-status {
    flex: 8;
    
    margin: 1px 4px 1px 0;
    
    border: 1px solid black;
    border-radius: 50%;
}

.status-active {
    background: green;
}

.status-inactive {
    background: transparent;
}

.btn-bridge-open {
    flex: 15;
}

.btn-bridge-edit {
    flex: 15;
}

.btn-bridge-delete {
    flex: 5;
}