#control-panel {
    display: flex;
    background: #2d3143;
}

#control-panel button:hover {
    background: #1e2231;
}

#left-buttons {
    display: contents;
}

#left-buttons > * {
    border-left: none;
    border-bottom: none;
}

#left-buttons > :last-child {
    border-top-right-radius: 8px;
}

.btn-new-source {
    flex: 2;
}

.btn-copy-id {
    border-right: none;
    border-bottom: none;
    border-top-left-radius: 8px;

    width: 20px;
}