body {
}

#root {
    padding: 25px;
}

button:hover {
    background: #1e2231;
}

.bottom-btns {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    
    display: flex;
    
    padding: 0 22px 0 22px;
}

.bottom-btns button {
    flex: 1;
    margin: 0 12px 20px 12px;
    
    height: 28px;
    
    border-radius: 8px;
}

input {
    padding: 0;
}