#root {
    font-family: Roboto, Helvetica, Arial, sans-serif;
    padding: 25px;
    color: rgba(255, 255, 255, 0.85);
}

button {
    color: rgba(255, 255, 255, 0.85);
    background: transparent;
    border: 1px solid #bb99ff;
}

button:hover {
    background: #2d3143;
}

button:disabled {
    color: rgba(255, 255, 255, 0.40);
}

button:disabled:hover {
    background: transparent;
}

.bottom-btns {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    
    display: flex;
    
    padding: 0 22px 0 22px;
}

.bottom-btns button {
    flex: 1;
    margin: 0 12px 20px 12px;
    
    height: 28px;
    
    border-radius: 8px;
}

input {
    padding: 0;
}