.big-btn-area {
    padding: 20px 0 20px 0;
    text-align: center;
}

.big-btn-area h2 {
    margin: 8px 0 8px 0;
}

.big-btn-area button {
    min-width: 200px;
    min-height: 40px;

    font-size: 16pt;

    border-radius: 20px;
}