.option-row {
    display: flex;
    align-items: center;
    padding-top: 1em;
    padding-bottom: 1em;
}

.option-row > label {
    flex: 3;
}

.option-row > input {
    flex: 3;
    min-width: 0;
    margin-right: 2em;
}

.option-row > div {
    flex: 3;
}